@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #1F1E24;
  height: 200px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  margin-top: 15px;
}

.bar {
  position: relative;
  width: 100%;
  height: 48px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.bar .bar-info {
  border-radius: 5px;
  padding: 0.75rem;
  background: #fd7473;
  color: white;
  width: 10%;
  position: relative;
  height: 24px;
  transition: width 3.3s ease-in-out;
}
.bar .bar-info .percent {
  float: right;
}
.bar .bar-info.html {
  background: linear-gradient(#fd7473, #FC688E), #fd7473;
}
.bar .bar-info.css {
  background: linear-gradient(#fec951, #FCAD44), #fec951;
}
.bar .bar-info.js {
  background: linear-gradient(#47b8e0, #28BEFA), #47b8e0;
}
.bar .bar-info.ps {
  background: linear-gradient(#9f68d0, #BB68D0), #9f68d0;
}
